.section
    margin-bottom: 100px

.block
    display: flex
    justify-content: space-between
    align-items: flex-start 
    align-self: center
    margin-bottom: 100px
    /* @3xl */
    @media screen and (max-width: 1920px)
        display: flex
        justify-content: space-between
    /* @2xl */
    @media screen and (max-width: 1600px)
        display: flex
        justify-content: space-between
    /* @xl */
    @media screen and (max-width: 1440px)
        display: flex
        justify-content: space-between
    /* @lg */
    @media screen and (max-width: 1280px)
        display: flex
        justify-content: space-between
    /* @md */
    @media screen and (max-width: 1024px)
        display: flex
        justify-content: space-between
    /* @sm */
    @media screen and (max-width: 768px)
        display: flex
        justify-content: space-between
        flex-wrap: wrap-reverse
        margin-bottom: 50px
    /* @xs */
    @media screen and (max-width: 600px)
        display: flex
        justify-content: space-between
        flex-wrap: wrap-reverse
    /* @2xs */
    @media screen and (max-width: 480px)
        display: flex
        justify-content: space-between
        flex-wrap: wrap-reverse
    /* @3xs */
    @media screen and (max-width: 360px)
        display: flex
        justify-content: space-between
        flex-wrap: wrap-reverse

.title
    font-size: 40px
    line-height: 42.08px
    font-weight: 400
    color: #4D4D4D
    text-align: left
    margin-bottom: 30px
    &:after
        content:" "
        display: block
        margin-top: 10px
        height: 2px
        width: 35%
        background-color: var(--color-green)
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 40px
        line-height: 42.08px
        text-align: left
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 40px
        line-height: 42.08px
        text-align: left
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 40px
        line-height: 42.08px
        text-align: left
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 30px
        line-height: 32.08px
        text-align: left
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 30px
        line-height: 32.08px
        text-align: left
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 25.86px
        line-height: 27.21px
        text-align: center
        &:after
            content:" "
            display: block
            height: 2px
            width: 25%
            margin: 10px auto
            background-color: #A7CF48
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 25.86px
        line-height: 27.21px
        text-align: center
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 25.86px
        line-height: 27.21px
        text-align: center
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 25.86px
        line-height: 27.21px
        text-align: center

.subbtitle
    font-size: 30px
    line-height: 31.56px
    font-weight: 400
    color: #4D4D4D
    text-align: left
    margin-bottom: 30px
    /* @3xl */
    @media screen and (max-width: 1920px)
        font-size: 30px
        line-height: 31.56px
        text-align: left
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 30px
        line-height: 31.56px
        text-align: left
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 30px
        line-height: 31.56px
        text-align: left
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 25px
        line-height: 26.56px
        text-align: left
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 25px
        line-height: 26.56px
        text-align: left
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 21.79px
        line-height: 22.93px
        text-align: center
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 21.79px
        line-height: 22.93px
        text-align: center
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 21.79px
        line-height: 22.93px
        text-align: center
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 21.79px
        line-height: 22.93px
        text-align: center

.box
    width: 100%
    margin: 20px auto
    /* @2xl */
    @media screen and (max-width: 1600px)
        margin: 40px auto
    /* @sm */
    @media screen and (max-width: 768px)
        display: grid

.right-side
    float: right
    width: 535px
    height: 457.81px
    margin: 0 0 20px 30px
    object-fit: cover
    /* @2xl */
    @media screen and (max-width: 1600px)
        margin: 0 0 20px 
        width: 388px
        height: 388px
        margin: 0 0 20px 40px
    /* @sm */
    @media screen and (max-width: 768px)
        float: none
        margin: 0 auto 40px
