.section
    margin-bottom: 100px
    width: 100%
    height: auto
    /* @sm */
    @media screen and (max-width: 768px)
        margin-bottom: 100px

.title
    font-size: 50px
    line-height: 52.95px
    font-weight: 700
    color: var(--color-green)
    text-align: center
    text-transform: uppercase
    margin-bottom: 40px
    /* @3xl */
    @media screen and (max-width: 1920px)   
        font-size: 50px
    /* @2xl */
    @media screen and (max-width: 1600px)
        font-size: 50px
    /* @xl */
    @media screen and (max-width: 1440px)
        font-size: 50px
    /* @lg */
    @media screen and (max-width: 1280px)
        font-size: 50px
        line-height: 52.95px
    /* @md */
    @media screen and (max-width: 1024px)
        font-size: 50px
        line-height: 52.95px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 20px
        line-height: 21.18px
    /* @xs */
    @media screen and (max-width: 600px)
        font-size: 20px
        line-height: 21.18px
    /* @2xs */
    @media screen and (max-width: 480px)
        font-size: 20px
        line-height: 21.18px
    /* @3xs */
    @media screen and (max-width: 360px)
        font-size: 20px
        line-height: 21.18px
    
/* Slider Styles*/
.slider
    width: 100%
    margin: 0 auto
    /* @2xl */
    @media screen and (max-width: 1600px)
        width: 100%
    /* xs */
    @media screen and ( max-width: 475px )
        width: 100%
        
.arrow
    display: flex
    position: absolute
    top: 60px
    font-size: 20px
    padding: 5px 15px
    z-index: 10
    cursor: pointer
    align-items: center
    /* 2xl */
    @media screen and ( max-width: 1536px )
        top: 60px
    /* xl */
    @media screen and ( max-width: 1280px )
        top: 60px
    /* lg */
    @media screen and ( max-width: 1024px )
        top: 170px
    /* md */
    @media screen and ( max-width: 768px )
        top: 150px
    /* sm */
    @media screen and ( max-width: 640px )
        top: 160px
    /* xs */
    @media screen and ( max-width: 475px )
        top: 150px
    /* @3xs */
    @media screen and (max-width: 360px)
        top: 140px
    svg
        /* xl */
        @media screen and ( max-width: 1280px )
            width: 20px
            height: 20px
        /* sm */
        @media screen and ( max-width: 640px )
            width: 17px
            height: 17px

.arrow_right
    right: 0
    /* @md */
    @media screen and (max-width: 1024px)
        right: 20px
        background-color: var(--color-green)
        width: 50px
        height: 38px
        border-radius: 10px
    /* @sm */
    @media screen and (max-width: 768px)
        right: 20px
        background-color: var(--color-green)
        width: 50px
        height: 38px
        border-radius: 10px
    /* @xs */
    @media screen and (max-width: 600px)
        right: 20px
        background-color: var(--color-green)
        width: 50px
        height: 30px
        border-radius: 10px
    /* @2xs */
    @media screen and (max-width: 480px)
        right: 20px
        background-color: var(--color-green)
        width: 40px
        height: 30px
        border-radius: 10px
    /* @3xs */
    @media screen and (max-width: 360px)
        right: 20px
        background-color: var(--color-green)
        width: 40px
        height: 30px
        border-radius: 10px

.arrow_left
    left: 0
    /* @md */
    @media screen and (max-width: 1024px)
        left: auto
        right: 80px
        background-color: var(--color-green)
        width: 50px
        height: 38px
        border-radius: 10px
    /* @sm */
    @media screen and (max-width: 768px)
        left: auto
        right: 80px
        background-color: var(--color-green)
        width: 50px
        height: 38px
        border-radius: 10px
    /* @xs */
    @media screen and (max-width: 600px)
        left: auto
        right: 80px
        background-color: var(--color-green)
        width: 50px
        height: 30px
        border-radius: 10px
    /* @2xs */
    @media screen and (max-width: 480px)
        left: auto
        right: 80px
        background-color: var(--color-green)
        width: 40px
        height: 30px
        border-radius: 10px
    /* @3xs */
    @media screen and (max-width: 360px)
        left: auto
        right: 80px
        background-color: var(--color-green)
        width: 40px
        height: 30px
        border-radius: 10px