.section
    margin-bottom: 100px
    height: auto
    /* @3xl */
    @media screen and (max-width: 1920px)
        margin-bottom: 100px
    /* @2xl */
    @media screen and (max-width: 1600px)
        margin-bottom: 100px
    /* @xl */
    @media screen and (max-width: 1440px)
        margin-bottom: 100px
    /* @lg */
    @media screen and (max-width: 1280px)
        margin-bottom: 100px
    /* @md */
    @media screen and (max-width: 1024px)
        margin-bottom: 100px
    /* @sm */
    @media screen and (max-width: 768px)
        margin-bottom: 100px
    /* @xs */
    @media screen and (max-width: 600px)
        margin-bottom: 100px
    /* @2xs */
    @media screen and (max-width: 480px)
        margin-bottom: 100px
    /* @3xs */
    @media screen and (max-width: 360px)
        margin-bottom: 100px
        
.workers
    display: grid
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start 
    align-self: center
    margin: 10px auto
    grid-template-columns: auto auto auto
    /* @3xl */
    @media screen and (max-width: 1920px)
        margin: 10px auto
        grid-template-columns: auto auto auto
    /* @2xl */
    @media screen and (max-width: 1600px)
        margin: 10px auto
        grid-template-columns: auto auto auto
    /* @xl */
    @media screen and (max-width: 1440px)
        margin: 10px auto
        grid-template-columns: auto auto auto
    /* @lg */
    @media screen and (max-width: 1280px)
        margin: 10px auto
        grid-template-columns: auto auto
    /* @md */
    @media screen and (max-width: 1024px)
        margin: 10px auto
        grid-template-columns: auto auto
    /* @sm */
    @media screen and (max-width: 768px)
        margin: 10px auto
        grid-template-columns: auto auto
    /* @xs */
    @media screen and (max-width: 600px)
        margin: 10px auto
        grid-template-columns: auto auto
    /* @2xs */
    @media screen and (max-width: 480px)
        margin: 10px auto
        grid-template-columns: auto auto
    /* @3xs */
    @media screen and (max-width: 360px)
        margin: 10px auto
        grid-template-columns: auto auto