.container
    height: auto
    margin-bottom: 100px

.box
    display: flex
    align-items: center
    justify-content: space-between
    border: 20px solid #F2F2F2
    /* @sm */
    @media screen and (max-width: 768px)
        display: grid
        justify-content: center

.newsletter
    background-color: #CAE24F
    width: 50%
    border-top-right-radius: 40px 250px
    border-bottom-right-radius: 40px 250px
    padding: 13px 71px 13px 71px
    /* @sm */
    @media screen and (max-width: 768px)
        width: 100%
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-right-radius: 50px
        border-bottom-left-radius: 50px
        margin-bottom: 40px

.programs
    width: 50%
    /* @sm */
    @media screen and (max-width: 768px)
        width: 100%

.features
    display: grid
    justify-content: center

.title
    font-weight: 400
    font-size: 18px
    line-height: 18.94px
    color: #B2D01B
    text-align: center
    margin-bottom: 30px
    @media screen and ( max-width: 991px )
        margin-top: 10px
    /* @sm */   
    @media screen and (max-width: 768px)
        font-size: 12.82px
        line-height: 13.48px

.program
    font-weight: 400
    font-size: 15px
    line-height: 19.38px
    color: #000000
    text-align: left
    @media screen and ( max-width: 991px )
        font-size: 12px
    /* @sm */
    @media screen and (max-width: 768px)
        font-size: 10.9px
        line-height: 14.08px

.button
    display: flex
    justify-content: center
    margin: 20px auto

.more-btn
    font-weight: 400
    font-size: 16px
    line-height: 25.68px
    width: 176px
    height: 43px
    display: flex
    justify-content: center
    align-items: center
    background-color: #B2D01B
    border: 2px solid #B2D01B
    color: white
    cursor: pointer
    transition: color 400ms
    position: relative
    z-index: 1
    &:before 
        content: '' 
        position: absolute 
        top: 0 
        left: 0 
        right: 0 
        bottom: 0 
        background: white
        z-index: -1 
        transition: transform 400ms ease-out 
        transform: scaleX(0) 
        transform-origin: left 
    &:hover 
        color: #B2D01B 
        border: 2px solid #B2D01B 
        &:before 
            transform: scaleX(1) 
